body{
    font-family: 'Bai Jamjuree', sans-serif;
}

/* logo */
header{
    max-width: 1200px;
    background-image: url(../images/bg-header-desktop.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: auto;
}
.logo{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
/* Description of logo */
.logo-desc{
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-desc--text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.logo-desc--text h1{
    font-weight: 600;
    font-size: 30px;
    color: hsl(210, 10%, 33%);
}
.logo-desc--text h4{
    font-weight: 400;
    margin-top: 0;
    color: hsl(201, 11%, 66%);
}

/* buttons */
.logo-desc--buttons{
    margin: 20px 8px;
}

.logo-desc--buttons a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 30px;
    color: #FFF;
    font-size: 14px;
}
.green {
    background-color: hsl(171, 66%, 44%);
}
.purple{
    background-color: hsl(233, 100%, 69%);
}

.desc-before--mac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.desc-before--mac h1{
    font-weight: 600;
    font-size: 30px;
    color: hsl(210, 10%, 33%);
}
.desc-before--mac h4{
    font-weight: 400;
    margin-top: 0;
    color: hsl(201, 11%, 66%);
}
/* Mac img and description */

.mac--desc{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 60px auto;
    justify-content: center;
}

.mac-img{
    margin-left: -100px;
}

.mac-text{
    margin: 0 100px;
}

.mac-text--1 h1,
.mac-text--2 h1,
.mac-text--3 h1{
    font-weight: 600;
    font-size: 30px;
    color: hsl(210, 10%, 33%);
}
.mac-text--1 h4,
.mac-text--2 h4,
.mac-text--3 h4{
    font-weight: 400;
    margin-top: 0;
    color: hsl(201, 11%, 66%);
}

/* section mobile*/

.mobile-mac{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-before,
.mobile-after{
    margin: 30px auto;
    align-items: center;
    text-align: center;
}

.mobile-before h1,
.mobile-after h1{
    font-weight: 600;
    font-size: 30px;
    color: hsl(210, 10%, 33%);
}

.mobile-before h4,
.mobile-after h4{
    font-weight: 400;
    margin-top: 0;
    color: hsl(201, 11%, 66%);
}

/* before companys */

.before-companys--desc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.blacklist,
.text-snippets,
.sneak-preview{
    text-align: center;
    margin: 0 20px;
}

.blacklist h1,
.text-snippets h1,
.sneak-preview h1{
    font-weight: 600;
    font-size: 20px;
    color: hsl(210, 10%, 33%);
}

.blacklist h4,
.text-snippets h4,
.sneak-preview h4{
    font-weight: 400;
    margin-top: 0;
    color: hsl(201, 11%, 66%);
    font-size: 15px;
}

/* companys */

.companys--img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.google,
.ibm,
.microsoft,
.hewlett,
.vector{
    margin: 20px 50px;
}

/* footer */

footer{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto;
}

.footer-desc{
    display: flex;
}
.footer1,
.footer2,
.footer3{
    padding: 10px 30px;
    cursor: pointer;
}

.footer1 h4,
.footer2 h4,
.footer3 h4{
    font-weight: 400;
    padding: 10px 0;
    color: hsl(201, 11%, 66%);
    font-size: 15px;
}

.footer1 h4:hover{
    color: hsl(171, 66%, 44%);
}
.footer2 h4:hover{
    color: hsl(171, 66%, 44%);
}
.footer3 h4:hover{
    color: hsl(171, 66%, 44%);
}

.facebook,
.twitter,
.instagram{
    margin: 0 15px;
    cursor: pointer;
}

.logo-footer img{
    width: 50px;
    height: 50px;
}

/* responsividade */

@media (max-width: 450px){
    
    .logo-desc--text{
        max-width: 400px;
        margin: 0 50px;
    }
    .logo-desc--text h1{
        font-size: 18px;
    }
    .logo-desc--text h4{
        font-size: 12px;
    }
    .logo-desc--buttons{
        display: flex;
        flex-direction: column;
    }
    .logo-desc--buttons a{
        margin: 20px 0;
        padding: 20px 80px;
    }
    
    .desc-before--mac{
        max-width: 400px;
        margin: 0 50px;
    }
    .desc-before--mac h1{
        font-size: 18px;
    }
    .desc-before--mac h4{
        font-size: 12px;
    }

    .mac--desc{
        flex-direction: column;
    }
    .mac-img img{
        width: 300px;
        height: 300px;
    }
    .mac-img{
        margin: 0;
    }
    
    .mac-text{
        margin: 0 50px;
    }
    
    .mac-text--1 h1,
    .mac-text--2 h1,
    .mac-text--3 h1{
        font-size: 18px;
    }
    .mac-text--1 h4,
    .mac-text--2 h4,
    .mac-text--3 h4{
        font-size: 12px;
    }

    .mobile-before,
    .mobile-after{
        margin: 30px 50px;
        max-width: 400px;
    }

    .mobile-before h1,
    .mobile-after h1{
        font-size: 18px;
    }

    .mobile-before h4,
    .mobile-after h4{
        font-size: 12px;
    }    

    .mobile-img img{
        width: 300px;
        height: 300px;
    }

    .before-companys--desc{
        flex-direction: column;
        margin: 0 50px;
    }
    .blacklist,
    .text-snippets,
    .sneak-preview{
        margin: 10px 50px;
    }

    .companys--img{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    .footer-desc{
        flex-direction: column;
    }

}